<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
        <div class="container jumbotron text-center">
            <h1>Check Your Inbox </h1>
            <p>Email has been sent Please click The verify button to login</p>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>