<!--    Footer Starts  -->
<footer id="main-footer">
    <div class="footer-items">
        <div class="footer-item">
            <h3>INFORMATION</h3>
            <ul class="footer-item__content">
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Customer Support</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>my account</h3>
            <ul class="footer-item__content">
                <li><a href="">Sign up</a></li>
                <li><a href="">Sign in</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>Social Media</h3>
            <ul class="footer-item__content">
                <li><a href=""><i class="fab fa-instagram fa-lg"></i> instagram</a></li>
                <li><a href=""><i class="fab fa-facebook-square fa-lg"></i> Facebook</a></li>
                <li><a href=""><i class="fab fa-snapchat-square fa-lg"></i> Snapchat</a></li>
                <li><a href=""><i class="fab fa-google fa-lg"></i> Google</a></li>
            </ul>
        </div>
    </div>
</footer>
<!--    Footer Ends  -->