<!--    Navbar Starts   -->
<header>
    <div class="backdrop "></div>
    <!--    Main Navbar Starts   -->
    <nav id="main-nav">
        <a href="/" class="nav-brand text-primary">LOGO</a>
        <div class="searchBar">
            <form action="/search" method="get">
                <input type="text" placeholder="Search Here" name="s">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search "></i> Search</button>
            </form>
        </div>
        <a href="/add-question" class="btn btn-primary btn-cta"><i class="fas fa-question-circle fa-lg"></i> Add
            Question</a>
        <div id="userAction">
            <i class="fas fa-ellipsis-v fa-2x"></i>
            <i class="fas fa-ellipsis-v fa-2x"></i>
            <i class="fas fa-ellipsis-v fa-2x"></i>
        </div>

    </nav>
    <!--    Main Navbar Ends   -->

    <!--    Mobile Navbar Starts   -->
    <nav id="mobile-nav">
        <div id="mobile-nav__header">
            <a href="/" class="nav-brand">LOGO</a>
            <a href="/add-question" class="btn-cta"><i class="fas fa-question-circle"></i></a>
            <div id="userAction">
                <i class="fas fa-ellipsis-v fa-2x"></i>
                <i class="fas fa-ellipsis-v fa-2x"></i>
                <i class="fas fa-ellipsis-v fa-2x"></i>
            </div>
        </div>
        <div class="searchBar">
            <form action="" method="get">
                <input type="text" placeholder="Search Here">
                <button type="submit" class="btn-sm btn-primary">Search</button>
            </form>
        </div>
    </nav>
    <!--    Mobile Navbar Ends   -->
    <div id="userActionMenu">
        
    </div>
</header>
<!--    Navbar Ends   -->