@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Muli:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $subheading-font;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  display: inline-block !important;
  color: #000;
}

a:hover,
a:active {
  outline: none !important;
}

button {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer !important;
  background-color: transparent;
  &:focus {
    outline: none !important;
  }
}
input[type='submit'] {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font !important;
  text-transform: capitalize;
}

table {
  width: 100%;
  overflow-x: scroll;
}
