$heading-font: 'Merriweather', serif;
$subheading-font: 'Muli', sans-serif;
// $primary-color: darken(#304ffe, 0);
$primary-color: #6d55ad;
$success-color: #4caf50;
$danger-color: #e53935;
$info-color: #2196f3;
$light-color: #fdfdfd;
$white-color: #fff;
// $dark-color: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
$warning-color: #ffc107;
$dark-color: #303a52;
$gradient: linear-gradient(45deg, #eaafc8, #654ea3);
