@import "shared/variables";
body {
  background-color: $light-color;
}
main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}
#quesArea {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
  background-color: darken($light-color, 5);
  flex-direction: column;
  #quesBlock {
    width: 95%;
    margin: 1rem;
    background-color: $light-color;
    .title {
      padding: 1rem;
      margin: 0.6rem;
      font-size: large;
      font-weight: bolder;
      text-transform: capitalize;
    }
    .quesBody {
      padding: 0rem 1rem;
      margin: 0rem 0.6rem;
      background-color: darken($light-color, 3);
      font-size: medium;
      border-radius: 0.6rem;
      font-weight: normal;
      overflow-y: scroll;
    }
    .ques-footer {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      > span {
        margin-top: 0.5rem;
        background-color: darken($light-color, 5);
        border-radius: 1rem;
        padding: 0.4rem;
      }
      ul {
        margin-top: 0.5rem;
        list-style: none;
        li {
          display: inline-block;
        }
        .tag {
          color: $light-color;
          background-color: lighten($primary-color, 10);
          font-size: 0.7rem;
          font-weight: 900;
          border-radius: 5rem;
          padding: 5px 10px;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
  #answerSec {
    width: 95%;
    height: 26%;
    margin: 1rem;
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .form-group {
      padding: 0rem 1.2rem;
      background-color: $light-color;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        padding-left: 0.6rem;
        margin-bottom: 0.9rem;
        font-size: 1.4rem;
        align-self: flex-start;
      }
      #answer {
        width: 100%;
        border: 0.1rem solid;
        border-radius: 0.3rem;
        font-size: 1.2rem;
        background-color: lighten($primary-color,47);
        resize: none;
      }
    }
    button {
      background-color: lighten($primary-color, 5);
      border-radius: 0.2rem;
      width: 97%;
    }
  }
}

.sideArea{
  padding: 0.5rem 0.7rem;
  width: 21%;
  height: max-content;
  background: darken($light-color, 5);
  margin: 0rem 1rem;
  border-radius: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
  top: 0.5rem;
  #interestsArea {
 display: flex;
 width: 100%;
 flex-direction: column;
 justify-content: flex-start;
    .heading {
      font-weight: bolder;
      font-size: large;
      margin: 0.7rem 0rem;
      text-align: center;
    }
    .interests {
      display: flex;
      justify-content: space-between;
      margin: 0.8rem;
      padding: 1rem;
      font-weight: bold;
      text-transform: capitalize;
      align-items: center;
  
      #category {
        padding: 0.2rem 0.2rem;
        height: 1.8rem;
        font-size: 1.1rem;
      }
      .follow {
        width: 5rem;
        height: 1.8rem;
        border-radius: 0.3rem;
        background-color: lighten($primary-color, 5);
        text-transform: capitalize;
        font-weight: bold;
        color: $light-color;
      }
      .followed {
        width: 6rem;
        height: 1.8rem;
        border-radius: 0.3rem;
        background-color: lighten($success-color, 15);
        text-transform: capitalize;
        font-weight: bold;
        color: $light-color;
      }
    }
  }
}

