@import 'shared/variables';

body {
  background-color: darken($color: $light-color, $amount: 1);
}
/*  ---------------   Showcase  --------------- */
#showcase {
  // background: #000 no-repeat top/cover
  //   url('https://images.unsplash.com/photo-1522435229388-6f7a422cd95b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background: $gradient;
  position: relative;
  height: 50vh;
  .showcase-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: $light-color;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h1 {
      font-size: 3rem;
      font-weight: 600;
      font-family: $heading-font;
      text-transform: capitalize;
      line-height: 1.6;
      margin-bottom: 1rem;
      word-spacing: 0.51rem;
    }
    .searchBar {
      width: 100%;
      > form {
        border-radius: 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        input {
          min-width: 70%;
          width: fit-content;
          border: 0.4rem solid $light-color;
          border-right: none;
          border-radius: 0.5rem 0 0 0.5rem;
          padding: 1rem;
          outline: none;
          font-size: 1.2rem;
          text-align: center;
        }
        .btn {
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }
  }
  @media (max-width: 750px) {
    .showcase-content {
      width: 100%;
      h1 {
        font-size: 1.7rem;
      }
    }
    .searchBar {
      transform: scale(0.8);
    }
  }
}
#feeds {
  display: flex;
  align-items: flex-start;

  #interests {
    width: 100%;
    padding: 1rem;
    min-height: 70vh;
    background: linear-gradient(to top, #d3cce3, #e9e4f0);
    margin: 1rem;
    border-radius: 0.3rem;
    position: sticky;
    top: 1rem;
    ul {
      list-style: none;
      padding: 0 0.5rem;
      width: 90%;
      margin: auto;
      text-align: center;
      a {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-weight: 900;
        font-size: 1.2rem;
        margin: 0.5rem 0.1rem;
        padding: 0.5rem 1rem;
        background-color: #fff;
        border-radius: 0.5rem;
        color: $dark-color;
      }
      // margin-bottom: 3rem;
    }

    @media (min-width: 1300px) {
      width: 20%;
    }
    @media (max-width: 1300px) and (min-width: 1060px) {
      width: 25%;
    }
    @media (max-width: 1060px) and (min-width: 960px) {
      width: 28%;
    }
    @media (max-width: 960px) and (min-width: 860px) {
      width: 32%;
    }
    @media (max-width: 860px) {
      display: none;
    }
  }

  #question {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    #question-block {
      background-color: $light-color;
      padding: 1rem;
      margin-bottom: 1rem;
      .ques {
        padding: 1.3rem 0.8rem;
        color: $light-color;
        font-size: 1.3rem;
        text-align: center;
        font-family: $heading-font;
      }
      ul {
        margin-top: 1rem;
        list-style: none;
        text-align: center;
        li {
          display: inline;
          a {
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
          }
        }
      }
      .cta-ques {
        padding: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        #bookmark-ques i {
          cursor: pointer;
        }
      }
    }
    @media (min-width: 1300px) {
      width: 80%;
      .ques {
        font-size: 1rem;
      }
    }
    @media (max-width: 1300px) and (min-width: 1060px) {
      width: 75%;
      .ques {
        font-size: 1rem;
      }
    }
    @media (max-width: 1060px) and (min-width: 960px) {
      width: 72%;
      .ques {
        font-size: 1rem;
      }
    }
    @media (max-width: 960px) and (min-width: 860px) {
      width: 68%;
      .ques {
        font-size: 1rem;
      }
    }
    @media (max-width: 860px) {
      width: 100%;
      .ques {
        font-size: 1rem;
      }
    }
  }
}
