@import 'shared/variables';
@import 'shared/config';
@import 'shared/text';
@import 'shared/buttons';
@import 'shared/alerts';
@import 'shared/utility';
@import 'shared/spacing';

/*  ---------------   Main Navbar  --------------- */

#main-nav {
  background: darken($color: #fff, $amount: 20);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem;
  .nav-brand {
    text-align: center;
    text-decoration: none;
    color: $primary-color;
    font-weight: 700;
    font-size: 2.3rem;
    padding: 0.3rem 0.5rem;
  }
  .searchBar {
    width: 60%;
    text-align: center;
    > form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      input {
        width: 60%;
        border: none;
        border-right: none;
        border-radius: 1rem 0 0 1rem;
        padding: 0.5rem 1.5rem;
        background-color: darken($color: $light-color, $amount: 2);
        outline: none;
        font-size: 1rem;
      }
      .btn {
        border-radius: 0 1rem 1rem 0;
      }
    }
  }
  .userAction {
    // background-color: $light-color;
    // border: 2px solid $dark-color;
    // border-radius: 50%;
    // text-align: center;
    // padding: 0.81rem;
  }
  @media (max-width: 750px) {
    display: none;
  }
}
/*  ---------------   Mobile Navbar  --------------- */
#mobile-nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
  .nav-brand {
    text-decoration: none;
    color: $dark-color;
    font-weight: 700;
    font-size: 2rem;
  }

  @media (max-width: 750px) {
    display: flex;
  }
}

/*  ---------------   SearchBar  --------------- */
#searchBar {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 75%;
      background-color: $light-color;
      border: none;
      font-size: 1rem;
      padding: 0.95rem 1rem;
      font-weight: 500;
      color: lighten($color: #000000, $amount: 10);
      &:focus {
        outline: none;
      }
    }
    select {
      width: 15%;
      background-color: $dark-color;
      border: none;
      font-size: 1.1rem;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem 0 0 0.5rem;
      font-weight: 500;
      color: $light-color;
      appearance: button;
      outline: none;
    }
    button {
      width: 10%;
      background-color: $dark-color;
      // font-size: 1rem;
      padding: 0.51rem 1rem;
      // font-weight: 500;
      border-radius: 0 0.5rem 0.5rem 0;
      i {
        color: $light-color;
      }
    }
    @media (max-width: 750px) {
      input {
        width: 60%;
      }
      select {
        width: 30%;
      }
      button {
        width: 10%;
      }
    }
  }
}

/* --------------------   Main Footer  -------------------- */
#main-footer {
  padding: 2rem;
  background-color: darken(#ffffff, 2%);
  .footer-items {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    .footer-item {
      margin-bottom: 1rem;
      h3 {
        font-size: 16px;
        font-family: $heading-font;
        margin-bottom: 1rem;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.8rem;
      }
      h3:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: 0;
        background-color: $dark-color;
        width: 25%;
        left: 0%;
      }
      .footer-item__content {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        a {
          margin-bottom: 1rem;
          font-family: $subheading-font;
          font-size: 0.9rem;
          text-transform: capitalize;
          color: $dark-color;
        }
      }
    }
  }
  @media (max-width: 750px) {
    .footer-items {
      flex-direction: column;
      align-items: center !important;
    }
  }
}

#signupPage,
#login-form,
#add-question {
  > section {
    border-radius: 0.3rem;
    margin: 0.8rem;
    padding: 1.3rem;
    width: 500px;
    height: 95%;
    .heading {
      margin: 2rem 0rem;
      font-size: 2rem;
    }
    // @media (max-width: 1000px) and (min-width: 750px) {
    //   width: 60%;

    // }
    // @media (max-width: 750px) {
    //   width: 100%;
    //   margin: 0;
    // }
  }
}
/* --------------------   Main Footer Ends  -------------------- */
