<!--    Navbar Starts   -->
<header>
    <div class="backdrop "></div>
    <!--    Main Navbar Starts   -->
    <nav id="main-nav">
        <a href="/" class="nav-brand">LOGO</a>
        <div class="searchBar">
            <form action="" method="get">
                <input type="text" placeholder="Search Here">
                <button type="submit" class="btn btn-dark"><i class="fas fa-search "></i> Search</button>
            </form>
        </div>
        <a href="" class="btn btn-dark"><i class="fas fa-question-circle fa-lg"></i> Add Question</a>
    </nav>
    <!--    Main Navbar Ends   -->

    <!--    Mobile Navbar Starts   -->
    <nav id="mobile-nav">
        <a href="/" class="nav-brand">LOGO</a>
    </nav>
    <!--    Mobile Navbar Ends   -->
</header>
<!--    Navbar Ends   -->